In [1]:
import pandas as pd
import re
from imblearn.over_sampling import ADASYN, RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler

c:\Users\vi_ma\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
# Import data
train = pd.read_csv("../data/train_complete.csv")
test = pd.read_csv("../data/test_complete.csv")

## Resampling

In [3]:
train.columns

Index(['P0', 'P1_a', 'P1_a_1', 'P1_b', 'P1_c', 'P1_d', 'P1_e', 'P1_e_1',
       'P1_e_2', 'P1_e_3',
       ...
       'P6_g_Presto(OneHot)', 'P6_g_Snowflake(OneHot)',
       'P6_g_Teradata(OneHot)', 'P6_g_nan(OneHot)', 'P1_l(OrdEnc)',
       'P2_e(OrdEnc)', 'P2_g(OrdEnc)', 'P2_i(OrdEnc)', 'P2_j(OrdEnc)',
       'P2_h(OrdEnc)'],
      dtype='object', length=724)

In [4]:
df_resampled=train.copy()

In [5]:
print(df_resampled.shape)
print(df_resampled.info())

(3801, 724)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3801 entries, 0 to 3800
Columns: 724 entries, P0 to P2_h(OrdEnc)
dtypes: bool(638), int64(7), object(79)
memory usage: 4.8+ MB
None

In [6]:
# !pip install seaborn

In [7]:
onehot = ["P1_m", "P3_c","P4_a","P4_b", "P4_c", "P4_d", "P4_e", "P4_g", "P4_j", "P5_b", "P6_a", "P6_b", "P6_g", "P6_h", "P7_a", "P7_b", "P7_d", "P8_a", "P8_b", "P8_c", "P8_d", "P2_b", "P2_d", "P2_f", "P2_o", "P2_r", "P6_c", "P6_d", "P6_e", "P6_f"]
ordered = ["P1_l", "P2_e", "P2_g", "P2_i", "P2_j", "P2_h"]

# df_feat_selected = df_resampled[ [x +endswith("(OneHot)") for x in onehot ] + [x +endswith("(OrdEnc)") for x in ordered] ]

In [8]:
import re

# Define the patterns for filtering the columns
onehot_pattern = f"^({'|'.join(onehot)}).*\\(OneHot\\)$"
ordered_pattern = f"^({'|'.join(ordered)}).*\\(OrdEnc\\)$"

# Apply the filtering to select the matching columns
df_feat_selected = df_resampled[
    df_resampled.columns[df_resampled.columns.str.contains(onehot_pattern) | 
                         df_resampled.columns.str.contains(ordered_pattern)]
]

C:\Users\vi_ma\AppData\Local\Temp\ipykernel_27696\3852787019.py:9: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_resampled.columns[df_resampled.columns.str.contains(onehot_pattern) |
C:\Users\vi_ma\AppData\Local\Temp\ipykernel_27696\3852787019.py:10: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_resampled.columns.str.contains(ordered_pattern)]

In [9]:
df_feat_selected.head()

,P1_m_Ciências Biológicas/ Farmácia/ Medicina/ Área da Saúde(OneHot),P1_m_Ciências Sociais(OneHot),P1_m_Computação / Engenharia de Software / Sistemas de Informação/ TI(OneHot),P1_m_Economia/ Administração / Contabilidade / Finanças/ Negócios(OneHot),P1_m_Estatística/ Matemática / Matemática Computacional/ Ciências Atuariais(OneHot),P1_m_Marketing / Publicidade / Comunicação / Jornalismo(OneHot),P1_m_Outra opção(OneHot),P1_m_Outras Engenharias(OneHot),P1_m_Química / Física(OneHot),P1_m_nan(OneHot),...,P6_g_Presto(OneHot),P6_g_Snowflake(OneHot),P6_g_Teradata(OneHot),P6_g_nan(OneHot),P1_l(OrdEnc),P2_e(OrdEnc),P2_g(OrdEnc),P2_i(OrdEnc),P2_j(OrdEnc),P2_h(OrdEnc)
0,False,False,True,False,False,False,False,False,False,False,...,False,False,False,True,5,4,-1,6,2,10
1,False,False,True,False,False,False,False,False,False,False,...,False,False,False,True,4,0,-1,6,6,9
2,False,False,True,False,False,False,False,False,False,False,...,False,False,False,True,6,2,-1,4,1,9
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,1,-1,1,2,1,5
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,4,-1,1,2,0,3

In [10]:
# count how many -1 there are in the column P2_h(OrdEnc)
print(df_feat_selected['P2_h(OrdEnc)'].value_counts())

6     807
4     597
5     526
7     524
3     286
8     255
2     225
1     176
9     153
10    101
11     74
12     56
0      21
Name: P2_h(OrdEnc), dtype: int64

In [11]:
test_feat_selected = test[
    test.columns[test.columns.str.contains(onehot_pattern) | 
                 test.columns.str.contains(ordered_pattern)]]

C:\Users\vi_ma\AppData\Local\Temp\ipykernel_27696\3139782785.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  test.columns[test.columns.str.contains(onehot_pattern) |
C:\Users\vi_ma\AppData\Local\Temp\ipykernel_27696\3139782785.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  test.columns.str.contains(ordered_pattern)]]

In [12]:
df_feat_selected.head()

,P1_m_Ciências Biológicas/ Farmácia/ Medicina/ Área da Saúde(OneHot),P1_m_Ciências Sociais(OneHot),P1_m_Computação / Engenharia de Software / Sistemas de Informação/ TI(OneHot),P1_m_Economia/ Administração / Contabilidade / Finanças/ Negócios(OneHot),P1_m_Estatística/ Matemática / Matemática Computacional/ Ciências Atuariais(OneHot),P1_m_Marketing / Publicidade / Comunicação / Jornalismo(OneHot),P1_m_Outra opção(OneHot),P1_m_Outras Engenharias(OneHot),P1_m_Química / Física(OneHot),P1_m_nan(OneHot),...,P6_g_Presto(OneHot),P6_g_Snowflake(OneHot),P6_g_Teradata(OneHot),P6_g_nan(OneHot),P1_l(OrdEnc),P2_e(OrdEnc),P2_g(OrdEnc),P2_i(OrdEnc),P2_j(OrdEnc),P2_h(OrdEnc)
0,False,False,True,False,False,False,False,False,False,False,...,False,False,False,True,5,4,-1,6,2,10
1,False,False,True,False,False,False,False,False,False,False,...,False,False,False,True,4,0,-1,6,6,9
2,False,False,True,False,False,False,False,False,False,False,...,False,False,False,True,6,2,-1,4,1,9
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,1,-1,1,2,1,5
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,4,-1,1,2,0,3

In [13]:
X_train = df_feat_selected.drop(columns=['P2_h(OrdEnc)'])
y_train = df_feat_selected['P2_h(OrdEnc)']

X_test = test_feat_selected.drop(columns=['P2_h(OrdEnc)'])
y_test = test_feat_selected['P2_h(OrdEnc)']

In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import VarianceThreshold
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
import joblib

In [15]:
# Logistic Regression
logistic_regression = LogisticRegression(max_iter=1000)
logistic_regression.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [16]:
# KNN
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [17]:
# Decision Tree
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)

DecisionTreeClassifier()

In [18]:
# Fit the QDA model with the balanced dataset
qda = QuadraticDiscriminantAnalysis()
qda.fit(X_train, y_train)

c:\Users\vi_ma\anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:878: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

QuadraticDiscriminantAnalysis()

In [19]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [20]:
# Teste
models = {
    'QDA': qda,
    'Logistic Regression': logistic_regression,
    'KNN': knn,
    'Decision Tree': decision_tree
}

results = []
for model_name, model in models.items():
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average=None, zero_division=0)
    recall = recall_score(y_test, y_pred, average=None, zero_division=0)
    f1 = f1_score(y_test, y_pred, average=None, zero_division=0)
    results.append([model_name, accuracy, precision, recall, f1])

# Store the results in a DataFrame
results_df = pd.DataFrame(results, columns=['Model', 'Accuracy', 'Precision', 'Recall', 'F1-Score'])

# Print the results
results_df

,Model,Accuracy,Precision,Recall,F1-Score
0,QDA,0.056782,"[0.0, 0.0, 0.1366906474820144, 0.0892857142857...","[0.0, 0.0, 0.30158730158730157, 0.075757575757...","[0.0, 0.0, 0.18811881188118815, 0.081967213114..."
1,Logistic Regression,0.334385,"[0.0, 0.25, 0.24, 0.2894736842105263, 0.364532...","[0.0, 0.3076923076923077, 0.19047619047619047,...","[0.0, 0.27586206896551724, 0.21238938053097342..."
2,KNN,0.279706,"[0.16666666666666666, 0.26153846153846155, 0.2...","[0.1111111111111111, 0.4358974358974359, 0.285...","[0.13333333333333333, 0.3269230769230769, 0.25..."
3,Decision Tree,0.249211,"[0.2, 0.2, 0.25925925925925924, 0.081081081081...","[0.1111111111111111, 0.23076923076923078, 0.22...","[0.14285714285714285, 0.21428571428571427, 0.2..."

In [21]:
print(X_test.shape)

(951, 92)

# Incluindo colunas sensíveis

In [27]:
X_train

,P1_m_Ciências Biológicas/ Farmácia/ Medicina/ Área da Saúde(OneHot),P1_m_Ciências Sociais(OneHot),P1_m_Computação / Engenharia de Software / Sistemas de Informação/ TI(OneHot),P1_m_Economia/ Administração / Contabilidade / Finanças/ Negócios(OneHot),P1_m_Estatística/ Matemática / Matemática Computacional/ Ciências Atuariais(OneHot),P1_m_Marketing / Publicidade / Comunicação / Jornalismo(OneHot),P1_m_Outra opção(OneHot),P1_m_Outras Engenharias(OneHot),P1_m_Química / Física(OneHot),P1_m_nan(OneHot),...,P6_g_Postgres/MySQL(OneHot),P6_g_Presto(OneHot),P6_g_Snowflake(OneHot),P6_g_Teradata(OneHot),P6_g_nan(OneHot),P1_l(OrdEnc),P2_e(OrdEnc),P2_g(OrdEnc),P2_i(OrdEnc),P2_j(OrdEnc)
0,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,True,5,4,-1,6,2
1,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,True,4,0,-1,6,6
2,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,True,6,2,-1,4,1
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,1,-1,1,2,1
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,True,4,-1,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3796,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,True,4,-1,2,2,0
3797,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,True,4,-1,0,2,0
3798,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,True,3,-1,1,1,0
3799,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,6,-1,0,1,1
3800,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,True,3,-1,0,1,2